/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS for the instagram */



#header {
    position: sticky; /* test then delete this comment */
    height: 54px;
    width: 100vw;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon {
    margin-left: 216.37px;
    font-size: 19.25px;
    margin-top: 4px;
}

#bar1 {
    border-left: 1px solid #DBDBDB;
    height: 22px;
    margin-left: 11px;
}

#logo{
    width: 103px;
    height: auto;
    margin-top: 10px;
    margin-left: 11px;
}

#search-bar{
    min-width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-left: 214px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#search-bar p{
    font-size: 12px;
    font-weight: 400;
    color: #979797;
    font-family: 'Roboto', sans-serif;
}

#paper-plane{
    margin-left: 214.06px;
    width: 17.87px;
    height: auto;
}

#compass{
    margin-left: 22.75px;
    width: 16.5px;
    height: auto;
}

#heart{
    margin-left: 22.75px;
    width: 16.5px;
    height: auto;
}

#person{
    margin-left: 22.75px;
    width: 22px;
    height: auto;
}

#stories-feed{
    width: 80%;
    height: 118px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    margin: 34px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#stories-feed img{
    width: 66px;
    height: auto;
}

#stories-feed p{
    margin-top: 6px;
    font-family: 'Roboto', sans-serif;
    font: 400 12px #262626;
}


.user, #main-user{
    height: 122px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 14px;
    position: relative;
}
